<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Esse é o cadastro</h1>
    <form action="/new" method="POST">
        <div>
            <label for="numero">Nº: </label>
            <input type="text" name="numero1" id="numero" placeholder="Digite o número" required>
        </div>
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome1" id="nome" placeholder="Digite o nome do pokemon" required>
        </div>
        <div>
            <label for="tipo">Tipo: </label>
            <input type="text" name="tipo1" id="tipo" placeholder="Digite o tipo" required>
        </div>
        <div>
            <label for="imagem">Imagem: </label>
            <input type="url" name="imagem1" id="imagem" placeholder="Digite o link da imagem" required>
        </div>
        <div>
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao1" id="descricao" placeholder="Descreva-o" required>
        </div>
        <div>
            <label for="altura">Altura: </label>
            <input type="text" name="altura1" id="altura" placeholder="Altura" required>
        </div>
        <div>
            <label for="peso">Peso: </label>
            <input type="text" name="peso1" id="peso" placeholder="Peso" required>
        </div>
        <div>
            <label for="categoria">Categoria: </label>
            <input type="text" name="categoria1" id="categoria" placeholder="Categoria" required>
        </div>
        <div>
            <label for="Habilidade">Habilidade: </label>
            <input type="text" name="habilidade1" id="habilidade" placeholder="habilidades" required>
        </div>
        <button type="submit">Inscrever-se</button>
    </form>
</body>
</html>