<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Pokédex</h1>
        <nav>
        <a href="/">Pokédex</a>
        <a href="/cadastro">Cadastro</a>
        <a href="/detalhes">Detalhes</a>
        </nav>
        <h1 id="mens"> Registre o novo pokemon</h1>
    </header>
    <form id="for" action="/new" method="POST">
        <div>
            <label for="numero">Nº: </label>
            <input type="text" name="numero1" id="numero" placeholder="Digite o número" required>
        </div>
        <div>
            <label for="nome">NOME: </label>
            <input type="text" name="nome1" id="nome" placeholder="Digite o nome do pokemon" required>
        </div>
        <div>
            <label for="tipo">TIPO: </label>
            <input type="text" name="tipo1" id="tipo" placeholder="Digite o tipo" required>
        </div>
        <div>
            <label for="imagem">IMAGEM: </label>
            <input type="url" name="imagem1" id="imagem" placeholder="Digite o link da imagem" required>
        </div>
        <div>
            <label for="descricao">DESCRIÇÃO: </label>
            <input type="text" name="descricao1" id="descricao" placeholder="Descreva-o" required>
        </div>
        <div>
            <label for="altura">ALTURA: </label>
            <input type="text" name="altura1" id="altura" placeholder="Altura" required>
        </div>
        <div>
            <label for="peso">PESO: </label>
            <input type="text" name="peso1" id="peso" placeholder="Peso" required>
        </div>
        <div>
            <label for="categoria">CATEGORIA: </label>
            <input type="text" name="categoria1" id="categoria" placeholder="Categoria" required>
        </div>
        <div>
            <label for="Habilidade">HABILIDADE: </label>
            <input type="text" name="habilidade1" id="habilidade" placeholder="habilidades" required>
        </div>
        <button type="submit">REGISTRAR</button>
    </form>
</body>
</html>