* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: black;
}
header h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 0 0 1rem #00000060;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color:white;
  padding: 7px;
  margin-bottom: 10px;

}
nav a {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
}
nav a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(141, 6, 6);
  border-radius: 2rem;
  transform: scale(1.1);
}
body {
  background: linear-gradient(
    0deg,
    rgb(255, 159, 159) 0%,
    rgb(68, 81, 255) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}
section#message {
  padding: 1rem;
  background-color: rgb(197, 255, 214);
  color: #004d04;
  position: fixed;
  top: 5rem;
  right: 2rem;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  padding-left: 2rem;
}

span#close:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.2);
}
ul#in {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items:center;
  align-content:space-around;
  margin-bottom: 10px;
}
ul#de {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 10px;
  align-items:flex-start;
  margin-left: 30px;
}
div {
  margin-bottom: 40px;
}
.item {
  flex-shrink: 0;
}
#n {
  justify-content: center;
}
figcaption#ind {
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  justify-content: center;
}
figcaption {
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
}
div#deta {
  display: flex;
  margin-left: 30px;
  align-content: center;
  justify-content: center;
}
div#inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 30px;
  background-color:rgb(201, 201, 201);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
h1#mens {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
form#for {
  margin-left: 30px;
  border-radius: 3px;
}
label {
  background-color: black;
  color: #fff;
  border-radius: 3rem;
  padding: 0.3rem;
}
button {
  background-color: black;
  color: #fff;
  border-radius: 3rem;
  padding: 0.5rem;
}